conf/flows.json
[{"id":"ef852b4a.99e7f8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"934dbfbd.4f9d68","type":"inject","z":"ef852b4a.99e7f8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":100,"wires":[["1b6b7010.2643f"]]},{"id":"9cb7084d.754da","type":"debug","z":"ef852b4a.99e7f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":380,"y":140,"wires":[]},{"id":"1b6b7010.2643f","type":"function","z":"ef852b4a.99e7f8","name":"test","func":"// Payloadから日付オブジェクトを生成\nvar date = new Date(msg.payload);\n// 日付文字列に変換して再度Payloadをセット\nmsg.payload = date.toString();\nmsg.payload = 'Hello';\n// 次のNodeへmsgオブジェクトを返す\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":180,"wires":[["9cb7084d.754da"]]}]