conf/flows_macbookpro-2.local.json
[{"id":"ff0a9754.e0caf8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"1e0cb915.3efaa7","type":"inject","z":"ff0a9754.e0caf8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":100,"wires":[["2ed4de28.776d92"]]},{"id":"928d03dd.b7297","type":"debug","z":"ff0a9754.e0caf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":370,"y":180,"wires":[]},{"id":"2ed4de28.776d92","type":"function","z":"ff0a9754.e0caf8","name":"test","func":"// Payloadから日付オブジェクトを生成\nvar date = new Date(msg.payload);\n// 日付文字列に変換して再度Payloadをセット\nmsg.payload = date.toString();\n// 次のNodeへmsgオブジェクトを返す\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":220,"wires":[["928d03dd.b7297"]]}]